.resend {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0;
  font-size: 0.875rem;
  color: #434656;

  .auth-link:disabled {
    color: #8b90a3;
    cursor: default;
    text-decoration: none;
  }
}
